// Media queries breakpoints
// ------------------

// Min width of device (extra small screen: iPhone 5)
$screen-xss-min: 320px;
// Extra small screen / phone
$screen-xs-min: 558px;
// Small screen / tablet
$screen-sm-min: 768px;
// Medium screen / desktop
$screen-md-min: 992px;
// Large screen / desktop, notebook
$screen-lg-min: 1400px;
// Very big screens / wide desktop
$screen-xlg-min: 1680px;

// So that media queries don't overlap when required, provide a maximum
$screen-xss-max: $screen-xs-min - 1;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xlg-min - 1;

// Layout
$column-left-width-md: 235px;
$column-left-width-lg: 264px;
$column-left-width-xlg: $column-left-width-lg;
$column-right-width-md: 329px;
$column-right-width-lg: $column-right-width-md;
$column-right-width-xlg: 440px;
$column-center-width-md: calc(100% - #{$column-left-width-md} - #{$column-right-width-md});
$column-center-width-lg: calc(100% - #{$column-left-width-lg} - #{$column-right-width-lg});
$column-center-width-xlg: calc(100% - #{$column-left-width-xlg} - #{$column-right-width-xlg});
$column-center-horizontal-margin: 11px;

// Colors

$info-color: #1e7be2;
$success-color: #57ad65;
$warning-color: #ffaa00;
$default-color: #bac9db;
$danger-color: #db2a2b;
$technical-primary-color: #788699;
$technical-secondary-color: #56677b;

$buttons-color: $info-color;
$checkbox-color: $success-color;
$icons-color: $default-color;
$live-color: $danger-color;
$favourites-color: $warning-color;
$line-color: #2cb0ff;
$font-primary-color: #fff;
$font-secondary-color: #aab9ca;
$font-technical-color: $technical-primary-color;
$accent-blocks-color: #3C4553;
$selection-color: #323744;
$events-line-1-color: #2d323f;
$events-line-2-color: #282c37;
$events-line-dark-color: #1f232d;
$events-line-deep-dark-color: #181c23;

// Animation
// ------------------

$common-transition: .1s linear;
$collapse-transition: .2s ease-out;

// Fonts
// ------------------

$path-to-fonts: '/assets/fonts';
$rubik-regular-font-name: 'rubik-regular';
$rubik-regular-font-family: 'Rubik Regular';
$rubik-medium-font-name: 'rubik-medium';
$rubik-medium-font-family: 'Rubik Medium';
$vip-icons-font-name: 'vip-icons';
$vip-icons-font-family: 'Vip Icons';
$font-primary: $rubik-regular-font-family, Verdana, sans-serif;
$font-secondary: $rubik-medium-font-family, Verdana, sans-serif;

// Checkbox
// ------------------

$checkbox-size: 16px;
$checkbox-text-size: 13px;
$checkbox-border-size: 1px;
$checkbox-border-radius: 2px;
$checkbox-border-color: $technical-primary-color;
$checkbox-selected-bg: rgba(#55ce63, .2);
$checkbox-selected-border-color: $checkbox-color;
$checkbox-selected-color: #fff;

// Content
// ------------------

$content-width-md: calc(100% - #{$column-left-width-md} - #{$column-right-width-md});
$content-width-lg: calc(100% - #{$column-left-width-lg} - #{$column-right-width-lg});
$content-width-xlg: calc(100% - #{$column-left-width-xlg} - #{$column-right-width-xlg});
$content-min-height: 100%;

// Dropdown Goals
// ------------------

$dropdown-twin-select-width: 100%;
$dropdown-twin-select-height: 30px;
$dropdown-twin-select-option-pr: 16px;
$dropdown-twin-select-option-height: 30px;
$dropdown-twin-select-option-hover-bg: rgba(#383f4d, .48);
$dropdown-twin-select-options-margin-top: 4px;
$dropdown-twin-select-options-position-top: $dropdown-twin-select-height + $dropdown-twin-select-options-margin-top;
$dropdown-twin-select-text-size: .75em;
$dropdown-twin-select-text-letter-spacing: -.2px;
$dropdown-twin-select-text-horizontal-margin: 8px;
$dropdown-twin-select-text-horizontal-margin-lg: 11px;
$dropdown-twin-select-border-radius: 3px;
$dropdown-twin-select-btn-open-size: 9px;
$dropdown-twin-select-bg: #3a4250;
$dropdown-twin-select-title-color: $default-color;
$dropdown-twin-select-no-line-letter-spacing: .4px;
$dropdown-twin-select-no-line-text-size: 9px;
$dropdown-twin-select-no-line-text-color: rgba($font-technical-color, .9);
$dropdown-twin-select-value-color: $line-color;
$dropdown-twin-select-btn-open-width: 20px;
$dropdown-twin-select-btn-open-color: $default-color;
$dropdown-twin-select-btn-open-bg: rgba($technical-primary-color, .72);
$dropdown-twin-select-options-bg: #4c596c;

// Event
// ------------------

$event-item-odd-bg: #282c37;
$event-item-even-bg: #2d323f;
$event-item-vertical-padding: 16px;
$event-item-mt: 1px;
$event-item-horizontal-padding-md: 8px;
$event-item-horizontal-padding-xlg: 10px;
$event-column-small-width-md: 56px;
$event-column-small-width-lg: 62px;
$event-column-small-width-xlg: 90px;
$event-column-big-width-md: 145px;
$event-column-big-width-lg: 20%;
$event-column-big-width-xlg: 215px;
$event-column-row-margin-top: 12px;
$event-column-row-height: 30px;
$event-column-row-icons-height: 45px;
$event-column-row-icons-size: 20px;
$event-column-row-horizontal-padding: 8px;
$event-column-row-horizontal-padding-lg: 11px;
$event-column-row-horizontal-padding-xlg: 12.5px;
$event-column-title-state-warning-color: #ffbc35;
$event-column-title-height: 21px;
$event-column-title-text-size: 12px;
$event-column-title-text-color: $font-technical-color;
$event-column-border-width: 1px;
$event-column-border-color: #181c23;
$event-blurred-subtitle-indent-top: -8px;
$event-blurred-color: #2d323f;
$event-blurred-empty-line-primary-min-width: 80px;
$event-blurred-empty-line-secondary-min-width: 60px;
$event-empty-line-min-width: 10px;
$event-empty-line-default-height: 4px;
$event-empty-line-big-height: 6px;
$event-empty-line-border-radius: 14px;
$event-actions-icon-padding: 3px;
$event-actions-title-text-size: .6875em;
$event-actions-icon-selected-color: #ffbc35;
$event-actions-min-width: 85px;
$event-actions-margin-top: 5px;
$event-actions-line-height: 20px;
$event-actions-id-text-color: $font-technical-color;
$event-actions-time-text-color: #dfe2e6;
$event-actions-time-value-width: 40px;
$event-actions-time-value-height: 20px;
$event-actions-time-value-text-size: .6875em;
$event-actions-time-value-text-color: $default-color;
$event-actions-time-value-border-color: #4b5b73;
$event-actions-time-value-border-size: 1px;
$event-actions-time-value-border-radius: 3px;
$event-actions-time-value-active-bg: rgba($buttons-color, .2);
$event-actions-time-value-active-border-color: rgba($line-color, .7);
$event-outcomes-mr-lg: 8px;
$event-outcomes-text-size: .8125em;
$event-outcomes-title-text-size: .6875em;
$event-outcomes-text-size-xlg: .875em;
$event-outcomes-text-color: $font-primary-color;

// Event Market

$event-market-bts-column-title-ml-xlg: 12px;
$event-market-ml-column-pl-xlg: 14px;
$event-market-individual-total-text-color: $default-color;
$event-market-individual-total-width: 33px;
$event-market-individual-total-height: 30px;
$event-market-individual-total-text-size: .75em;
$event-market-individual-total-mr: 6px;
$event-market-individual-total-border-radius: 2px;
$event-market-individual-total-border-size: 1px;
$event-market-individual-total-width-xlg: 40px;
$event-market-individual-total-border-color: #4b5b73;
$event-market-individual-total-hover-color: $line-color;
$event-market-individual-total-hover-border-color: $event-market-individual-total-hover-color;
$event-market-individual-total-hover-color: $event-market-individual-total-hover-color;
$event-market-outcome-text-size: .5em;
$event-market-outcome-text-size-xlg: .6em;
$event-market-outcome-title-text-size: 11px;
$event-market-outcome-value-text-color: $line-color;
$event-market-outcome-value-text-size: .75em;
$event-market-outcome-value-width: 40px;
$event-market-outcome-value-width-xlg: 48px;
$event-market-outcome-value-height: 30px;
$event-market-outcome-value-color: #3a4250;
$event-market-outcome-value-border-radius: 3px;
$event-market-outcome-value-type-no-line-text-size: .5625em;
$event-market-outcome-value-type-no-line-text-color: rgba($font-technical-color, .9);
$event-market-outcome-subtitle-indent-top: -10.5px;
$event-market-outcome-subtitle-mr-xlg: 6px;
$event-market-outcome-subtitle-color: $font-primary-color;

// League
// ------------------

$league-horizontal-padding: 34px;
$league-header-text-color: #fcfcfc;
$league-header-border-height: 1px;
$league-header-padding: 10px;
$league-header-width: 100%;
$league-header-height: 44px;
$league-header-border-width: calc(100% - #{$league-horizontal-padding});
$league-header-border-color: $technical-primary-color;
$league-title-text-size: .8125em;
$league-btn-collapse-width: 30px;
$league-btn-collapse-height: 30px;
$league-btn-collapse-color: $default-color;
$league-btn-collapse-size: 11px;

// League Event
// ------------------

$league-event-vertical-padding: 4px;
$league-event-text-size: .75em;
$league-event-text-color: #8894a5;
$league-event-padding: $league-event-vertical-padding 0 $league-event-vertical-padding $league-horizontal-padding;
$league-event-selected-bg: #323744;
$league-event-selected-text-color: $font-primary-color;

// Loader
// ------------------

$loader-size: 36px;
$loader-icon-path: '/assets/icons/loader.svg';

// Menu
// ------------------

$menu-width-md: $column-center-width-md;
$menu-width-lg: $column-center-width-lg;
$menu-width-xlg: $column-center-width-xlg;
$menu-text-color: #8894a5;
$menu-item-text-size: .9375em;
$menu-item-margin-right: 22px;
$menu-item-selected-text-color: $font-primary-color;
$menu-item-hovered-text-color: $menu-item-selected-text-color;

// Modal
// ------------------

$modal-window-bg: #fff;
$modal-overlay-bg: rgba(#181c22, .6);
$modal-window-border-radius: 6px;
$modal-loader-size: $loader-size;

// Modal Deal
// ------------------

$modal-deal-width: 736px;
$modal-deal-sidebar-width: 279px;
$modal-deal-bg: #f2f4f8;
$modal-deal-icon-color: $technical-secondary-color;
$modal-deal-icon-size: 26px;
$modal-deal-icon-opacity: .3;
$modal-deal-sidebar-horizontal-padding: 16px;
$modal-deal-sidebar-vertical-padding: 24px;
$modal-deal-sidebar-bg: #fff;
$modal-deal-sidebar-row-border-height: 1px;
$modal-deal-sidebar-row-border-color: #d8dde7;
$modal-deal-sidebar-row-vertical-padding: 15px;
$modal-deal-add-ons-height: 32px;
$modal-deal-add-ons-mt: 20px;
$modal-deal-add-ons-vertical-padding: 24px;
$modal-deal-clear-height: 32px;
$modal-deal-btn-add-on-horizontal-margin: 3px;
$modal-deal-btn-add-on-border-color: #c5cdda;
$modal-deal-btn-add-on-text-color: $technical-secondary-color;
$modal-deal-btn-add-on-text-size: .8125em;
$modal-deal-btn-add-on-border-radius: 3px;
$modal-deal-btn-add-on-selected-color: $buttons-color;
$modal-deal-buttons-height: 32px;
$modal-deal-buttons-horizontal-padding: 24px;
$modal-deal-buttons-vertical-margin: 20px;
$modal-deal-btn-width: 95px;
$modal-deal-btn-height: 32px;
$modal-deal-btn-text-size: .875em;
$modal-deal-btn-border-radius: 3px;
$modal-deal-btn-border-color: rgba($technical-secondary-color, .6);
$modal-deal-btn-border-height: 1px;
$modal-deal-btn-text-color: $technical-secondary-color;
$modal-deal-btn-type-fill-bg: $buttons-color;
$modal-deal-btn-type-fill-text-color: $font-primary-color;
$modal-deal-btn-type-fill-border-color: $modal-deal-btn-type-fill-bg;
$modal-deal-league-name-text-size: .9375em;
$modal-deal-league-name-mt: 5px;
$modal-deal-league-name-text-color: #181c23;
$modal-deal-league-name-letter-spacing: .2px;
$modal-deal-league-country-mt: 6px;
$modal-deal-league-country-text-size: .625em;
$modal-deal-league-country-text-color: $technical-secondary-color;
$modal-deal-league-country-text-opacity: .7;
$modal-deal-league-country-letter-spacing: 1.7px;
$modal-deal-team-text-letter-spacing: .3px;
$modal-deal-team-text-color: #1f232d;
$modal-deal-team-height: 32px;
$modal-deal-team-menu-height: 44px;
$modal-deal-team-menu-item-letter-spacing: -.2px;
$modal-deal-team-menu-item-text-size: .875em;
$modal-deal-team-menu-item-text-color: #1f232d;
$modal-deal-team-menu-item-border-color: #e6eaf1;
$modal-deal-team-menu-item-border-width: 2px;
$modal-deal-team-menu-item-disabled-text-color: rgba($technical-secondary-color, .2);
$modal-deal-team-menu-item-selected-text-color: $font-primary-color;
$modal-deal-team-menu-item-selected-bg: #5c6c80;
$modal-deal-date-text-size: .8125em;
$modal-deal-date-color: #181c23;
$modal-deal-start-time-mt: 5px;
$modal-deal-start-time-text-color: #388c46;
$modal-deal-start-time-text-size: .75em;
$modal-deal-table-head-height: 32px;
$modal-deal-table-head-opacity: .6;
$modal-deal-table-head-letter-spacing: .4px;
$modal-deal-table-head-text-size: .6875em;
$modal-deal-table-head-text-color: $technical-secondary-color;
$modal-deal-table-head-bg: #e6eaf1;
$modal-deal-table-head-item-height: 32px;
$modal-deal-table-head-body-item-line-height: 40px;
$modal-deal-table-head-body-item-height: 32px;
$modal-deal-table-head-body-item-horizontal-padding: 20px;
$modal-deal-table-item-padding: 24px;
$modal-deal-table-input-width: 100px;
$modal-deal-table-input-height: 32px;
$modal-deal-table-input-form-border-radius: 3px;
$modal-deal-table-input-letter-spacing: -.2px;
$modal-deal-table-input-font: $font-primary;
$modal-deal-table-input-pr: 25px;
$modal-deal-table-input-text-size: .875em;
$modal-deal-table-input-bg: rgba(#fff, .8);
$modal-deal-table-border-color: rgba(#c5cdda, .7);
$modal-deal-table-border-size: 1px;
$modal-deal-table-event-text-color: #5c6c80;
$modal-deal-table-event-letter-spacing: -.1px;
$modal-deal-table-event-text-size: .75em;
$modal-deal-table-event-position-top: 13px;
$modal-deal-table-event-height: 25px;
$modal-deal-table-event-width: 400px;
$modal-deal-input-btn-clear-text-color: #90a3ae;
$modal-deal-input-btn-clear-opacity: .6;
$modal-deal-input-btn-clear-text-size: 11px;
$modal-deal-input-btn-clear-position-top: 15px;
$modal-deal-input-btn-clear-position-right: 8px;

// Modal Notification
// ------------------

$modal-notification-width: 500px;
$modal-notification-height: 295px;
$modal-notification-padding: 34.5px;
$modal-notification-border-radius: 6px;
$modal-notification-bg: #f2f4f8;
$modal-notification-icon-size: 48px;
$modal-notification-title-text-color: #1f232d;
$modal-notification-title-text-size: 1.25em;
$modal-notification-message-text-color: #5c6c80;
$modal-notification-message-text-size: .875em;
$modal-notification-message-line-height: 1.625em;
$modal-notification-message-letter-spacing: .4px;
$modal-notification-message-horizontal-padding: 10px;
$modal-notification-error-icon-color: $danger-color;
$modal-notification-vertical-margin: 14px;
$modal-notification-btn-action-bg: $buttons-color;
$modal-notification-btn-action-mt: 36px;
$modal-notification-btn-action-text-size: .875em;
$modal-notification-btn-action-text-color: $font-primary-color;
$modal-notification-btn-action-border-radius: 3px;
$modal-notification-btn-action-horizontal-padding: 26px;
$modal-notification-btn-close-size: 12px;
$modal-notification-btn-close-color: #fff;
$modal-notification-btn-close-position: -18px;
$modal-notification-btn-action-height: 36px;
$modal-notification-error-icon-color: #db2a2b;
$modal-notification-success-icon-color: #55ce63;

// Navbar
// ------------------

$navbar-width: 100%;
$navbar-height: 44px;
$navbar-text-color: #8894a5;
$navbar-btn-logout-size: 24px;
$navbar-left-side-width-md: $column-left-width-md;
$navbar-left-side-width-lg: $column-left-width-lg;
$navbar-right-side-width-md: $column-right-width-md;
$navbar-right-side-width-xlg: $column-right-width-xlg;

// Login Form
// ------------------

$login-form-width: 340px;
$login-form-heading-text-color: $font-primary-color;
$login-form-heading-text-size: 1.75em;
$login-form-description-text-color: #8894a5;
$login-form-input-horizontal-padding: 15.7px;
$login-form-input-height: 32px;
$login-form-input-bg: #3a4250;
$login-form-input-text-color: $font-primary-color;
$login-form-input-placeholder-text-color: #7d899a;
$login-form-remember-me-border-color: #3a4250;
$login-form-remember-me-title-text-color: #8894a5;
$login-form-alert-bg: #c92d3c;
$btn-submit-text-color: $font-primary-color;
$btn-submit-bg: #1f73d0;
$btn-submit-disabled-text-color: #535e76;
$btn-submit-disabled-bg: rgba(#3a4250, 0.72);
$btn-submit-loader-size: 16px;
$btn-submit-loader-icon-path: '/assets/icons/btn-loader.svg';
$btn-submit-hover-bg: #1059aa;

// Notification
// ------------------

$notification-width: 100%;
$notification-position-bottom: 0;
$notification-left-side-width-md: $column-left-width-md;
$notification-left-side-width-lg: $column-left-width-lg;
$notification-left-side-width-xlg: $column-left-width-xlg;
$notification-right-side-width-md: $column-right-width-md;
$notification-right-side-width-lg: $column-right-width-lg;
$notification-right-side-width-xlg: $column-right-width-xlg;
$notification-bar-width-md: $column-center-width-md;
$notification-bar-width-lg: $column-center-width-lg;
$notification-bar-width-xlg: $column-center-width-xlg;
$notification-bar-height: 28px;
$notification-bar-mode-info: rgba($info-color, .92);
$notification-bar-mode-success: $success-color;
$notification-bar-mode-danger: #b22223;
$notification-bar-horizontal-padding: 12px;
$notification-bar-title-color: $font-primary-color;
$notification-bar-close-color: #fff;
$notification-bar-title-horizontal-margin: 6px;
$notification-bar-opacity: .9;
$notification-bar-text-color: $font-primary-color;
$notification-bar-text-size: .75em;
$notification-bar-margin: 0 18px 0 20px;
$notification-hidden-position-bottom: -$notification-bar-height;

// Overlay
// ------------------

$overlay-filter-blur: 3px;

// Page
// ------------------

$page-min-height: 100vh;
$page-height: 100%;
$page-text-size: 14px;
$page-login-bg: #282c37;
$page-bg: #181c23;

// Scrollbar
// ------------------

$scrollbar-thumb-vertical-bg: rgba($font-primary-color, .1);
$scrollbar-thumb-border-radius: 10px;

// Sidebar Left

$sidebar-left-width-md: $column-left-width-md;
$sidebar-left-width-lg: $column-left-width-lg;
$sidebar-left-width-xlg: $column-left-width-xlg;
$sidebar-left-bg: #1f232d;

// Sidebar Right

$sidebar-right-width-md: $column-right-width-md;
$sidebar-right-width-lg: $column-right-width-lg;
$sidebar-right-width-xlg: $column-right-width-xlg;
$sidebar-right-bg: #1f232d;

// Sport switch
// ------------------

$sport-switch-height: 88px;
$sport-switch-bg: #282c37;
$sport-switch-icon-size: .8988em;
$sport-switch-icon-color: $default-color;
$sport-switch-icon-selected-color: #fff;
$sport-switch-container-height: 44px;
$sport-switch-container-bg: #282c37;
$sport-switch-selected-item-header-padding: 10px;
$sport-switch-selected-item-header-height: 44px;
$sport-switch-selected-item-header-bg: $accent-blocks-color;
$sport-switch-selected-item-header-text-color: $font-primary-color;
$sport-switch-selected-item-header-text-size: .8125em;
$sport-switch-btn-collapse-color: $default-color;
$sport-switch-btn-collapse-size: 11px;
$sport-switch-btn-collapse-width: 30px;
$sport-switch-btn-collapse-height: 30px;

// Switcher
// ------------------

$switcher-width: 30px;
$switcher-height: 14px;
$switcher-bg: #373d4c;
$switcher-handle-bg: #515e72;
$switcher-handle-mode-on-bg: #55ce63;
$switcher-handle-hover-bg: $technical-primary-color;
$switcher-handle-hover-mode-on-bg: #459a52;
$switcher-handle-width: 15px;
$switcher-handle-offset-left: calc(100% - #{$switcher-handle-width});

// Tabs
// ------------------

$tabs-width: 100%;
$tabs-height: 44px;
$tabs-bg: $accent-blocks-color;
$tabs-item-color: $default-color;
$tabs-item-title-text-size: .8125em;
$tabs-item-horizontal-margin: 12px;
$tabs-item-border-height: 2px;
$tabs-item-counter-border-radius: 19px;
$tabs-item-counter-bg: rgba(#92a7c0, .2);
$tabs-item-counter-text-size: .6875em;
$tabs-item-counter-text-color: #c2d1e3;
$tabs-item-counter-padding: 1px 8px;
$tabs-item-selected-text-color: $font-primary-color;
$tabs-item-selected-counter-bg: $info-color;
$tabs-item-selected-counter-text-color: $font-primary-color;
$tabs-item-selected-border-bg: $info-color;

// Layout
// ------------------

$layout-sidebar-left-leagues-height: calc(#{$page-min-height} - #{$navbar-height} - #{$sport-switch-height});
$layout-content-event-list-height: calc(#{$page-min-height} - #{$navbar-height} - #{$sport-switch-container-height});
